@import url(http://fonts.googleapis.com/css?family=Arvo|Droid+Sans);

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f7f7f7;
    color: #444;
    font-family: 'Droid Sans';
}

h1, h2, h3 {
    color: #c40;
    font-family: Arvo, sans-serif;
}

header {
    background-color: #f80;
    border-bottom: 3px solid #c40;
    display: block;
    margin-bottom: 40px;
    padding: 20px;
}

header h1 {
    color: #fff;
    font-size: 3em;
}

th {
    text-align: left;
}

.button {
    background-color: #f80;
    border: 2px solid #c40;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-family: Arvo, sans-serif;
    font-size: 1.4em;
    padding: 10px;
    text-decoration: none;
}

.button:hover {
    background-color: #e70;
}

.leaderboard {
    width: 100%;
}

.lb-name { width: 67%; }

.lb-won,
.lb-total,
.lb-kills {
    width: 11%;
}

.lb-role-owner:before { content: '~'; }
.lb-role-op:before { content: '@'; }
